<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      <mat-icon>account_circle</mat-icon><span>{{data.name}}</span>
    </mat-panel-title>
    <mat-panel-description>
      {{data.estimated | date:'shortTime'}}
    </mat-panel-description>
  </mat-expansion-panel-header>
  
  <mat-form-field>
    <input matInput [value]="data.since|date:'shortTime'" readonly>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Dôvod návštevy" [value]="data.condition" readonly>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Predpokladaná doba návštevy [minúty]" [value]="data.estimatedDurationMinutes" readonly>
  </mat-form-field>
</mat-expansion-panel>